h1 {
    text-align: center;
    color: black;
    background-color: darkgray;
    font-weight: 1000px;
    font-style:initial;
    border-style: double;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
}

body {
    background-color:darkgray;
    font-style: inherit;
}

inicio. {
    border-bottom: 4px;
    border-color: black;
    border-style:none;
    border-bottom-style: solid;
    padding-bottom: 4px;
    padding-top: 450px;
}